/* Reset and base styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #f5f5f5;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --start-btn-bg: #85d60c;
    --start-btn-border: green;
    --start-btn-text: #005000;
    --start-btn-hover: #80ca10;
    --end-btn-bg: #d60c0c;
    --end-btn-border: #800000;
    --end-btn-text: #ffffff;
    --end-btn-hover: #ad0b0b;
    --pause-btn-bg: #7a7a7a;
    --pause-btn-border: #474747;
    --pause-btn-text: #f9f9f9;
    --pause-btn-hover: #656565;
    --input-border: #ccc;
    --input-focus: #85d60c;
    --button-bg-color: rgb(152, 255, 152);
    --button-bg-color2: rgb(56, 249, 56);
    --button-fontfamily: 'Courier New', Courier, monospace;
    --text-fontfamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --deleteBtn-bg-color: rgb(253, 138, 138);
    --deleteBtn-bg-color2: rgb(249, 103, 103);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-width: 400px;
    place-items: center;
    min-height: 100vh;
    transition: .33s ease;
}

body::before {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;

  box-shadow:
    inset 0 0 15px rgba(0, 255, 255, 0.5),
    inset 0 0 30px rgba(0, 255, 255, 0.4),
    0 0 10px rgba(0, 255, 255, 0.3),
    0 0 20px rgba(0, 255, 255, 0.2);

  animation: glow 15s linear infinite;

}

body.led-on::before {
  display: block;
}

@keyframes glow {
  0% {
    box-shadow:
      inset 0 0 10px rgba(0, 255, 255, 0.7),
      inset 0 0 20px rgba(0, 255, 255, 0.5),
      inset 0 0 30px rgba(0, 255, 255, 0.3);
  }
  33% {
    box-shadow:
      inset 0 0 20px rgba(255, 0, 255, 0.7),
      inset 0 0 30px rgba(255, 0, 255, 0.5),
      inset 0 0 40px rgba(255, 0, 255, 0.3);
  }
  66% {
    box-shadow:
      inset 0 0 20px rgba(255, 255, 0, 0.7),
      inset 0 0 30px rgba(255, 255, 0, 0.5),
      inset 0 0 40px rgba(255, 255, 0, 0.3);
  }
  100% {
    box-shadow:
      inset 0 0 20px rgba(0, 255, 0, 0.7),
      inset 0 0 30px rgba(0, 255, 0, 0.5),
      inset 0 0 40px rgba(0, 255, 0, 0.3);
  }
}



.Card {
    padding: 20px;
    box-shadow: 0px 0px 15px 0.5px var(--card-shadow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: none;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}

.Menu {
    position: fixed;
    left: 2.5em;
    top: 2.5em;
    padding: 13px 15px;
    color: black;
    cursor: pointer;
    transition: .25s ease;
    border-radius: 8px;
    z-index: 100;
}

.Menu:hover{
    color: gray;
    box-shadow: 0px 0px 6px 0.5px var(--card-shadow);
}

.Menu-sidebar{
   position: absolute;
   left: 0;
   height: 100%;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 6px 0.5px var(--card-shadow);
   animation: slide-in .5s ease forwards;
   transform: translateX(-200px);
   z-index: 101;
   border-radius: 0 15px 15px 0;
   overflow: hidden;
}

@keyframes slide-in {
    100% {
        transform: translateX(0px);
    }
    
}

.Menu-Title {
    text-align: left;
    font-weight: 500;
    padding: 7px;
    padding-block-end: 15px;
}

.Sidebar{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    padding: 10px 10px;
}

.Sidebar span{
    color: black;
    width: 100%;
    padding: 15px 80px 15px 10px;
    text-align: start;
    font-family: 'Inter', sans-serif;
    transition: .33s;
    cursor: pointer;
    margin: 2px 0;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    border-radius: 7px;
}

.hover {
  background-color: rgb(223, 223, 223) !important;
  cursor: pointer;
}

.Sidebar span i{
    position: relative;
    top: 2px;
}

.Task-Cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px 10px;
    flex-wrap: wrap;
    z-index: 200;
}

.inputs {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--input-border);
    text-align: center;
    transition: border-color 0.2s ease;
    background-color: transparent;
}

.inputs:focus {
    border-color: var(--input-focus);
    outline: none;
}

/* Optional settings styles */
.optional-settings {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.optional-settings summary {
    cursor: pointer;
    font-weight: bold;
}

.optional-settings #Minutes {
    width: 60px;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
}

.optional-settings #Music {
    width: auto;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
}

.custom-file-input {
    display: flex;
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    transition: .33s;
    justify-self: center;
}

.custom-file-input:hover {
    background-color: #45a049;
}

.custom-file-input:active {
    background-color: #3e8e41;
}

.custom-file-input span {
    display: block;
    font-size: 14px;
}

/* File name display */
.file-name {
    display: block;
    margin-left: 0px;
    font-size: 14px;
    color: #666;
    max-width: 100px;
   white-space: nowrap;         /* Prevent text from wrapping */
  overflow: hidden;            /* Hide overflow */
  text-overflow: ellipsis;     /* Show "..." for overflow */
    position: relative;

}


.optional-settings .darkmode-toggle {
    position: relative;
    top: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}


.optional-settings #Music {
    margin-top: 5px;
}

/* For all scrollbars */
::-webkit-scrollbar {
  width: 10px; /* Vertical scrollbar */
  height: 5px; /* Horizontal scrollbar */
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Start button */
#StartBtn {
    height: 42px;
    background-color: var(--start-btn-bg);
    border: 1px solid var(--start-btn-border);
    color: var(--start-btn-text);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
}

#StartBtn:hover {
    background-color: var(--start-btn-hover);
    box-shadow: 0px 0px 10px 4px var(--card-shadow);
}

/* Session started */
.Started {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 150px;
    max-width: 500px;
}

.Started h1.Task-Name {
    font-size: 4em;
    max-width: 500px;
    overflow-x: auto;
    white-space: nowrap;
}

.Started span {
    display: flex;
    gap: 3px;
    text-align: center;
    justify-content: center;
    padding-block-start: 20px;
    font-size: 20px;
}

#EndSession {
    padding: 10px;
    font-size: 15px;
    width: 10em;
    height: 3em;
    background-color: var(--end-btn-bg);
    border: 1px solid var(--end-btn-border);
    color: var(--end-btn-text);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    top: 50px;
}

#EndSession:hover {
    background-color: var(--end-btn-hover);
    box-shadow: 0px 0px 10px 4px var(--card-shadow);
}

#PauseBtn {
    padding: 10px;
    font-size: 15px;
    width: 10em;
    height: 3em;
    background-color: var(--pause-btn-bg);
    border: 1px solid var(--pause-btn-border);
    color: var(--pause-btn-text);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    top: 50px;
}

#PauseBtn:hover {
    background-color: var(--pause-btn-hover);
    box-shadow: 0px 0px 10px 4px var(--card-shadow);
}


/* Toggle buttons */
.toggle {
    display: flex;
    position: absolute;
    top: -2px;
    cursor: pointer;
}

.active {
    display: none;
}

.not-active {
    display: flex;
}

.active-led {
    display: none;
}

.not-active-led {
    display: flex;
}

/* Validity states */
input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}


.darkmode-label {
    position: relative;
    top: 3px;
    display: flex;
    margin-block-end: 5px;
    align-items: center;
    gap: 2px;
}

.ledlights-label {
    position: relative;
    top: 3px;
    display: flex;
    margin-block-end: 5px;
    align-items: center;
    gap: 2px;
}


/* Calc */

.calculator {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

#display {
  width: 100%;
  height: 40px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
}

button {
  height: 50px;
  font-size: 18px;
  border: none;
  background: #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #d0d0d0;
}

.clear {
  grid-column: span 4;
  background: #ff7070;
  color: white;
}

.ContentWrapper {
    justify-content: center;
    place-items: center;
    align-items: flex-start; /* or 'center' if you want them vertically aligned */
    margin-top: 30px; /* optional spacing from top */
    flex-wrap: wrap; /* responsive layout */
}

/* history */

#clearHistoryBtn {
    background-color: var(--end-btn-bg);
    color: var(--end-btn-text);
    border: var(--end-btn-border);
    padding: 0px 15px;
    transition: .33s ease;
    font-size: 17px;
}

#clearHistoryBtn:hover {
    background-color: var(--end-btn-hover);
}

.history-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.history-list li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#History {
    max-height: 400px;
    overflow: auto;
}

/* TODO LIST */

.Container{
    padding: 0px 20px;
    text-align: center;
}

.Container .title{
    font-size: 2.5em;
    padding: 20px 0;

}

.IBD{
    display: flex;
    justify-content: center;
}

.deleteCONT{
    margin-inline-start: 10px;
    align-items: center;
    justify-content: center;
}

.deleteCONT .deleteallBtn{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: var(--deleteBtn-bg-color);
    border: 1px solid;
    font-family: var(--button-fontfamily);
    font-weight: 600;
    border-radius: 100%;
    width: 40px;
    margin-block-start: 2px;
    transition: all .33s ease;
    height: 40px;
    padding: 0px;
}

.deleteCONT .deleteallBtn:hover{
    background-color: var(--deleteBtn-bg-color2);
    cursor: pointer;
}

.Container .inputText{
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    border: 1px solid gray;
    padding: 0px 10px;
    border-right: none;
    font-family: var(--text-fontfamily);
    height: 40px;
}

.Container .AddBtn{
    padding: 10px;
    height: 40px;
    font-size: 14px;
    margin-inline-start: 0px;
    border-radius: 0 10px 10px 0;
    border: 1px solid gray;
    transition: all .33s ease;
    background-color: var(--button-bg-color);
    font-family: var(--button-fontfamily);
}

.AddBtn:hover{
    background-color: var(--button-bg-color2);
    cursor: pointer;
}

.todos{
    margin-block-start: 20px;
    height: max-content;
    max-height: 200px;
    border-radius: 20px 0 0 20px;
    padding: 0px 15px 0px  10px;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.item{
    display: flex;
    justify-content: center;
    margin: 20px 5px;
    padding: 0px 0px;
    text-align: center;
    overflow-x: auto;
    height: 40px;
}

.item .todoText{
    border: 1px solid gray;
    padding: 10px;
    width: 200px;
    text-align: left;
    overflow-x: auto;
    font-family: var(--text-fontfamily);
}

.item .done{
    width: 40px;
    height: 40px;
    position: relative;
    top: 0px;
    border-radius: 0px;
    background-color: var(--button-bg-color);
    border: 1px solid gray;
    transition: all .33s ease;
    font-family: var(--button-fontfamily);
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.item .done:hover{
    background-color: var(--button-bg-color2);
    cursor: pointer;
}

.item .removeitemBtn{
    background-color: var(--deleteBtn-bg-color);
    transition: all .33s ease;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 0 10px 10px 0;
    width: 40px;
    height: 40px;
    position: relative;
    top: 0px;
}

.item .removeitemBtn:hover{
    background-color: var(--deleteBtn-bg-color2);
    cursor: pointer;
}
